{% extends 'base.html.twig' %}

{% block body %}
    <div class="slider">	  
	  <div class="callbacks_container">
     
        </div>
    </div>

    <div class="welcome">
           <div class="container"> 
                   <div class="col-md-4 wel-left">
                   <img height="30%" width="80%" src="images/Logo.jpg">
                   </div>
                   <div class="col-md-8 wel-right">
                           <h3>Welcome</h3>
                           <h4>To Auckland Feathers!</h4>
                           <p>A friendly badminton group for the GLBT community. We are currently building this website. If you have any questions, please email satbad@gmail.com and we will be in touch!</p>
                   </div>
                   <div class="clearfix"></div>
           </div>
    </div>




    <!----->
    <div class="news">
             <div class="container">
                     <h3>News and Events</h3>
                     <div class="col-md-4 top-news">
                             <h4><a href="#">Event</a></h4><a href="#">
                             <p>Coming soon</p>
                     </a></div><a href="#">
                     </a><div class="col-md-4 top-news"><a href="#">
                             </a><h4><a href="#"></a><a href="#">Event</a></h4><a href="#">
                             <p>Coming soon</p>
                     </a></div><a href="#">
                     </a><div class="col-md-4 top-news"><a href="#">
                             </a><h4><a href="#"></a><a href="#">Event</a></h4><a href="#">
                             <p>Coming soon</p>
                     </a></div><a href="#">
                     <div class="clearfix"></div>
                     </a>
                 
             </div>
        <a href="#">
        </a>
    </div>
    <a href="#">
    <!----->
    <div class="fotter">
             <div class="container">
    <!-- 		 <div class="col-md-3 address">
                            <h4> <p>Auckland Features | <a href="mailto:info@example.com">example(at)mail.com</a></p> </h4>

                             <h4>Contact Details:</h4>
                             <ul class="address-mail">
                                     <li><p>Email: <a href="mailto:info@example.com">example(at)mail.com</a></p></li>
                             </ul>
                     </div> -->
             </div>
    </div>
    </a>
{% endblock %}

{% block stylesheets %}
{% stylesheets
    'css/bootstrap.css'
    'css/style.css'
    'css/css.css'
    filter='cssrewrite' output='css/compiled/app.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{% javascripts
    'js/jquery.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}